<?xml version="1.0" encoding="UTF-8"?>

<!--TODO: test json logs-->

<configuration scan="true" scanPeriod="10 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- plain text -->
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{36} %X{sourceThread} - %msg%n</pattern>
        </encoder>
        <!-- json -->
<!--        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
<!--            <providers>-->
<!--                <timestamp/>-->
<!--                <level/>-->
<!--                <loggerName/>-->
<!--                <threadName/>-->
<!--                <message/>-->
<!--                <logstashMarkers/>-->
<!--                <stackTrace/>-->
<!--            </providers>-->
<!--        </encoder>-->
    </appender>



    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="STDOUT" />
    </appender>

    <!-- log levels TRACE DEBUG INFO WARN ERROR OFF -->
    <root level="INFO">
        <appender-ref ref="ASYNC_STDOUT"/>
    </root>

</configuration>